<div class="altura"> 
    
    <ng-container *ngIf="heroes.length != 0">
        <h5 class="card-title ">Heroes Guardados:</h5>
            <table class="table table-responsive table-bordered tabled">
                <thead>
                    <tr>
                        <th>Imagen del Heroe</th>
                        <th>Nro</th>
                        <th>Nombre del Heroe</th>
                        <th>Descripción</th>
                        <th>Modificado</th>
                        <th>Action</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of heroes; let i = index" >
                        <td> <img class="tamanio" src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" alt="{{item.name}}"></td>
                        <td>{{ i+1 }}</td>
                        <td>{{ item.name }}</td>
                         <td class="tdspace">{{ item.description }}</td>
                         <td class="tdspa">{{item.modified}}</td>
                    
                        <td>
                            <button (click)="removeItem(item)" class="btn btn-dark"><i class="fas fa-trash-alt"></i></button>
                        </td>
                        <td>
                            <button  (click)="addtoheroesIz(item)"  class="btn btn-success"><i class="fas fa-plus"></i></button>
                        </td>
                        <td>
                            <button (click)="removeItemIz(item)"  class="btn btn-danger"><i class="fas fa-minus"></i></button>
                        </td>
                    
                    </tr>
                   
                
                </tbody>
            </table>
        
    </ng-container>
    <br>
    <br>
    <ng-container *ngIf="heroes.length == 0">

        <div class=" card container">
            
            <div class="center">
                <div class="card-body">
                    <h5 class="card-title">Heroes Guardados</h5>
                </div>
                
                <h4 >¡No hay nigun heroe guardado!</h4>
            </div>
        </div>

    </ng-container>

</div>
